body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: grid;
    justify-content: center;
    align-content: first baseline;
    gap: 48px;
    background: #ffffff;
    padding: 86px 24px;
    border-radius: 14px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 380px;
    height: 280px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 500;
}

.time-box {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 24px;
}

.time {
    background: #eaeaea;
    padding: 20px 4px;
    font-size: 28px;
    width: 80px;
    text-align: center;
    color: #333;
    align-items: center;
    border-radius: 8px;
}

.time .lable{
    font-size: 12px;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 12px;
}

button {
    padding: 10px 14px;
    width: 68px;
    border: none;
    border-radius: 8px;
    background: #dcdcdc;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

button:hover {
    background: #c4c4c4;
}
